@import 'libs/bootstrap-reboot.min';
@import 'libs/icons';

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/titles';

@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/aboutMe';
@import 'blocks/skills';
@import 'blocks/works';
@import 'blocks/contacts';


@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

body {
    background: -webkit-linear-gradient(20deg, #030303 0%, #030303 35%, #3a2a1d 50%, #030303 65%, #030202 100%);
    background: linear-gradient(20deg, #030303 0%, #030303 35%, #3a2a1d 50%, #030303 65%, #030202 100%);
    font-family: Poppins, sans-serif;
    line-height: 1.55;
    color: $text-color;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/media';