@import 'libs/bootstrap-reboot.min';
@import 'libs/icons';

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/titles';

@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/aboutMe';
@import 'blocks/skills';



@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

body {
    background: #58311c;
    background: -webkit-linear-gradient(44deg, #58311c 0%, #393823 30%, #080908 60%, #080908 100%);
    background: linear-gradient(44deg, #58311c 0%, #393823 30%, #080908 60%, #080908 100%);
    font-family: Poppins, sans-serif;
    line-height: 1.55;
    color: $text-color;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/media';