.contacts {
    margin-top: 60px;
    background: url('../../img/bg/dungeon.jpg') center/cover no-repeat;
    &__wrapper {
        padding: 60px 200px 120px 200px;
    }
    &__title {
        @include circle-left;
        padding-top: 7px;
        padding-left: 10px;
    }
    

    &__divider {
        @include divider;
        margin-top: 10px;
    }
}