.skills {
    padding-top: 120px;
    &__title {
        text-align: center;
        @include circle-center;
        padding-top: 5px;
    }
    
    &__subtitle {
        text-align: center;
    }

    &__divider {
        margin: 0 auto;
        @include divider;
        margin-top: 10px;
    }
    &__wrapper {
        margin-top: 60px;
    }

}

.skill-boxes {
    display: grid;
    grid-template: repeat(2, 270px) / repeat(4, 270px);
    gap: 20px;
    &__item {
        background-color: #c5b05d;
        box-shadow: 0 0 4px #c5b05d;
    }
    &__img {
        padding: 36px 71px;
    }
    &__text {
        font-size: 20px;
        text-align: center;
        color: #000000;
    }
}