.works {
    padding-top: 120px;
    &__title {
        text-align: center;
        @include circle-center;
        padding-top: 5px;
    }
    
    &__subtitle {
        text-align: center;
    }

    &__divider {
        margin: 0 auto;
        @include divider;
        margin-top: 10px;
    }
    &__wrapper {
        margin: 60px 0 0 0;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        gap: 5px;
    }
    &_upper-horizontal {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    &_upper-vertical {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
    &_lower-horizontal {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: all 1s;
        &:hover {
            transform: scale(1.05);
            transition: all 1s;
            filter: contrast(150%);
        }
    }
}